<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p><a href="/new-project">Add a New Service Project</a></p>
    <% if (projects.length === 0) { %>
        <p>No upcoming projects at the moment.</p>
    <% } else { %>
        <% projects.forEach(project => { %>
            <div class="project-card">
                <h2>
                    <a href="/projects/<%= project.project_id %>"><%= project.title %></a>
                </h2>
                <p><strong>Description:</strong> <%= project.description %></p>
                <p><strong>Date:</strong> <%= new Date(project.start_date).toDateString() %></p>
                <p><strong>Location:</strong> <%= project.location %></p>
                <hr>
            </div>
        <% }) %>
    <% } %>
</main>

<%- include('partials/footer') %>